 <div class="landing-icons">
      {% if site.email != null %}
        <a class="social-link email" aria-label="My E-Mail" a href="https://michaelhdesigns.github.io/portfolio">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#home" | prepend: site.baseurl }}""></use>
            </svg>
          </div>
          <span class="label">Home</span>
        </a>
      {% endif %}

      {% if site.dev_username != null %}
        <a class="social-link" aria-label="My DEV" target="_blank" rel="noreferrer"
         href="https://michaelhdesigns.github.io/about">
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#user" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">About</span>
        </a>
      {% endif %}

      {% if site.facebook_username != null %}
        <a class="social-link linkedin" aria-label="My LinkedIn" target="_blank"
          rel="noreferrer" href="https://michaelhdesigns.github.io/education"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#university" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Education</span>
        </a>
      {% endif %}

      {% if site.twitter_username != null %}
        <a class="social-link twitter" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://michaelhdesigns.github.io/projects"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#tools" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Projects</span>
        </a>
      {% endif %}

        {% if site.twitter_username != null %}
        <a class="social-link twitter" aria-label="My Twitter" target="_blank"
          rel="noreferrer" href="https://michaelhdesigns.github.io/contact"
        >
          <svg viewBox="0 0 200 200" class="circle">
            <circle cx="100" cy="100" r="80" />
          </svg>
          <div class="social">
            <svg class="social-svg" viewBox="0 0 48 48">
              <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#address-book" | prepend: site.baseurl }}"></use>
            </svg>
          </div>
          <span class="label">Contact</span>
        </a>
      {% endif %}
    </div>

<div id="landing">
  <div class="landing-title">
    <h1>Projects by
      <span class="highlight-title">{{site.username}}</span>,
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["{{site.typing_text}}", "So I Can Learn More!"]'
      >
      </span>
    </h1>
  </div>
</div>
